<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phoenix Agence de voyage</title>
    <script src="https://kit.fontawesome.com/ddf016fd89.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/confimation.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="logo-P fa-brands fa-phoenix-framework"></a></i></li>
                <li><a class="un" href="../index.html">Phoenix</a></li>
                <li><a class="deux" href="../views/destination.html">Choisir une destination</a></li>
                <li><a class="trois" href="#">Payer</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article id="container_one">
        <img class="imagepg1" src="../assets/img/turkoise.jpg" alt="image1">
        <p id="text_img_pg"><i class="logo-text-image-pg fa-brands fa-phoenix-framework"></i> Récapitulatif de votre réservation pour <span id="destination_js"></span></p>
        </article>
        <article id="container_deux">
            <div class="flex">
                <p class="box_one box yellow">Participant(s) :</p> 
            </div>
            <div class="flex">
                <p id="manyp" class="box_two box yellow"></p>
            </div>
            <div class="flex">
                <p class="box_one box green">Commande</p>
            </div>
            <div class="flex">
                <p class="box_two box green">1</p>
            </div>
        </article>
        <article id="container_trois">
            <div class="flex">
                <p class="box_one box yellow">Semaine(s) :</p> 
            </div>
            <div class="flex">
                <p id="manyw" class="box_two box yellow"></p>
            </div>
            <div class="flex">
                <p class="box_one box green">Total</p>
            </div>
            <div class="flex">
                <p id="total" class="box_two box green"></p>
            </div>
        </article>
        <p id="text_before_footer">Bon séjour<i class="logo_text_before_footer fa-brands fa-phoenix-framework"></i></p>
        <div class="container_quatre">
            <div class="img_footer">
            <img src="../assets/img/caraibes_martinique_boucaniers.jpg" alt="img1" class="img_avant_footer">
            </div>
            <div class="img_footer">
            <img src="../assets/img/sicile_kamarina.jpg" alt="img2" class="img_avant_footer">
            </div>
            <div class="img_footer">
            <img src="../assets/img/maldives_fino.jpg" alt="img3" class="img_avant_footer">
            </div>
            <div class="img_footer">
            <img src="../assets/img/maurice_albion.jpg" alt="img4" class="img_avant_footer">
            </div>
            <div class="img_footer">
            <img src="../assets/img/maldives_kani.jpg" alt="img5" class="img_avant_footer">
            </div>
            <div class="img_footer">
            <img src="../assets/img/grece_gregolimano.jpg" alt="img6" class="img_avant_footer">
            </div>
        </div>
    </main>
    <footer>
        <span class="footerText"><i class="fa-solid fa-umbrella-beach"></i> Vos vacances de rêves  ...  <i class="fa-solid fa-sun"></i> Plage  ...  <i class="fa-solid fa-building"></i> Urbaine  ...  <i class="fa-solid fa-ship"></i> Croisière  ...  <i class="fa-solid fa-mountain-sun"></i> Montagne  ...  <i class="fa-solid fa-euro-sign"></i> A prix tout doux  ...  <i class="fa-solid fa-umbrella-beach"></i></span>
    </footer>
<script src="../assets/js/confirmation.js"></script>
</body>
</html>