<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phoenix Agence de voyage</title>
    <script src="https://kit.fontawesome.com/ddf016fd89.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/order.css">
</head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="../index.html"><i class="logo-P fa-brands fa-phoenix-framework"></a></i></li>
                    <li><a class="un" href="../index.html">Phoenix</a></li>
                    <li><a class="deux" href="../views/destination.html">Choisir une destination</a></li>
                    <li><a class="trois" href="#">Payer</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <img class="imagepg1" src="../assets/img/maurice.jpg" alt="image1">
            <div class="container">
                <article id="carre_1" class="carre">
                    <img id="img_carre_1" class="img_carre" src="" alt="imgvoyage1">
                    <h1 id="title"></h1>
                    <p id="text_carre">1 semaine / personne : 750 €</p>
                </article>
                <article id="box_reservation_1" class="box_reservation">
                    <p id="text_reservation">Je complète mes informations de réservation <i class="logo_2 fa-brands fa-phoenix-framework"></i></p>
                    <input type="email" class="text_imput" id="text_imput_1" placeholder="Email de confirmation"/>
                    <div class="container_2">
                    <input type="number" class="text_imput" id="text_imput_2" min="1" max="6" placeholder="Je pars combien de semaine ?"/>
                    <input type="number" class="text_imput" id="text_imput_3" min="1" max="6" placeholder="Nombre de vacanciers"/>
                    </div>
                    <input type="button" class="bouton" value="Confirmer ma réservation">
                </article>
            </div>
            <div class="container_3">
                <div class="img_footer">
                <img src="../assets/img/caraibes_martinique_boucaniers.jpg" alt="img1" class="img_avant_footer">
                </div>
                <div class="img_footer">
                <img src="../assets/img/sicile_kamarina.jpg" alt="img2" class="img_avant_footer">
                </div>
                <div class="img_footer">
                <img src="../assets/img/maldives_fino.jpg" alt="img3" class="img_avant_footer">
                </div>
                <div class="img_footer">
                <img src="../assets/img/maurice_albion.jpg" alt="img4" class="img_avant_footer">
                </div>
                <div class="img_footer">
                <img src="../assets/img/maldives_kani.jpg" alt="img5" class="img_avant_footer">
                </div>
                <div class="img_footer">
                <img src="../assets/img/grece_gregolimano.jpg" alt="img6" class="img_avant_footer">
                </div>
            </div>
        </main>
        <footer>
            <span class="footerText"><i class="fa-solid fa-umbrella-beach"></i> Vos vacances de rêves  ...  <i class="fa-solid fa-sun"></i> Plage  ...  <i class="fa-solid fa-building"></i> Urbaine  ...  <i class="fa-solid fa-ship"></i> Croisière  ...  <i class="fa-solid fa-mountain-sun"></i> Montagne  ...  <i class="fa-solid fa-euro-sign"></i> A prix tout doux  ...  <i class="fa-solid fa-umbrella-beach"></i></span>
        </footer>
        <script src="../assets/js/script.js"></script>
    </body>
</html>